<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/admin_dashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/javascript/jquery-3.4.1.min.js"></script>
<script  src="/javascript/cookies.js"></script>
	<title>Admin dashboard</title>
</head>
<body>
	 <header>
        <nav id='nav_bar'>   
            <a href="/v7_homepage.html">Home</a>
            <a href="/2CRUD_admin.html">Tender</a>
            <a href="/admin/profile">Profile</a>
            <a href="/3view_tender_application.html">Applications</a>
            <a style="cursor:pointer" onclick="theFunctionA();">Log out</a>
        </nav>
    </header>
	{{!-- <div class="cont">
	<h2>Admin Dashboard</h2><br>
	</div> --}}
    <div class="tab_section">
        <button id='profile_button' autofocus >My Profile</button>
        <button id='approved_button' >Approved Tenders</button>
    </div>
    {{#if admin_details_exists}}
        {{#with admin}}
            <div class='details'>
                <div class="personal_details">
                    <h2>Personal Details</h2>
                    <table>
                        <tr>
                            <td><label for="">Name</label></td>
                            <td><p>{{ad_name}}</p></td>
                        </tr>
                        <tr>
                            <td><label for="">Mobile Number</label></td>
                            <td><p>{{ad_contact}}</p></td>
                        </tr>
                        <tr>
                            <td><label for="">Email Address</label></td>
                            <td><p>{{ad_email}}</p></td>
                        </tr>
                        <tr>
                            <td><label for="">Address</label></td>
                            <td><p>{{ad_addr}}</p></td>
                        </tr>
                        <tr>
                            <td><label for="">Department</label></td>
                            <td><p>{{dept_name}}</p></td>
                        </tr>
                    </table>
                </div>
                <div class="org_details">
                    <h2>Organization Details</h2>
                    <table>
                        <tr>
                            <td><label for="">Name</label></td>
                            <td><p>{{org_name}}</p></td>
                        </tr>
                        <tr>
                            <td><label for="">Mobile Number</label></td>
                            <td><p>{{org_contact}}</p></td>
                        </tr>
                        <tr>
                            <td><label for="">Email Address</label></td>
                            <td><p>{{org_email}}</p></td>
                        </tr>
                        <tr>
                            <td><label for="">Address</label></td>
                            <td><p>{{org_addr}}</p></td>
                        </tr>
                        <tr>
                            <td><label for="">State</label></td>
                            <td><p>{{org_state}}</p></td>
                        </tr>
                        <tr>
                            <td><label for="">District</label></td>
                            <td><p>{{org_dist}}</p></td>
                        </tr>
                        <tr>
                            <td><label for="">Pincode</label></td>
                            <td><p>{{org_pin}}</p></td>
                        </tr>
                    </table>
                </div>
            </div>
        {{/with}}
    {{else}}
        <h3>Personal Details Does not exist with us</h3>
    {{/if}}
    <div class="approved_tenders" style="display: none;">
        <h1>Approved Tenders</h1>
        {{#each tenders}}
        <div class="container">
            <div class="tender_details">
                <h2>Tender Details</h2>
                <table>
                    <tr>
                        <td><label for="">Title</label></td>
                        <td><p>{{et_title}}</p></td>
                    </tr>
                     <tr>
                        <td><label for="">Reference Number</label></td>
                        <td><p>{{et_tender_ref_no}}</p></td>
                    </tr>
                     <tr>
                        <td><label for="">Description</label></td>
                        <td><p>{{et_tender_desc}}</p></td>
                    </tr>
                     <tr>
                        <td><label for="">Fee</label></td>
                        <td><p>{{et_tender_fee}}</p></td>
                    </tr>
                     <tr>
                        <td><label for="">Approval Date</label></td>
                        <td><p>{{date_of_approval}}</p></td>
                    </tr>
                     <tr>
                        <td><label for="">Bidding Data</label></td>
                        <td><p>{{et_bidding_date}}</p></td>
                    </tr>
                     <tr>
                        <td><label for="">File URI</label></td>
                        {{!-- <td><p>{{et_file_uri}}</p></td> --}}
                        <td><a href="{{et_file_uri}}">Click Here</a></td>
                    </tr>
                    
                </table>
            </div>
            <div class="vendor_details">
                <h2>Organisation Details</h2>
                <h3>Company Details</h3>
                <table>
                    <tr>
                        <td><label for="">Name</label></td>
                        <td><p>{{v_name}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Address</label></td>
                        <td><p>{{v_address}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Year of Establishment</label></td>
                        <td><p>{{v_yoe}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Email Address</label></td>
                        <td><p>{{v_email}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Mobile Number</label></td>
                        <td><p>{{v_mobile}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Registration Number</label></td>
                        <td><p>{{v_reg_no}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">State</label></td>
                        <td><p>{{v_state_id}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">District</label></td>
                        <td><p>{{v_dist_id}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">v_city_id</label></td>
                        <td><p>{{v_city_id}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Pincode</label></td>
                        <td><p>{{v_pincode}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Legal Status</label></td>
                        <td><p>{{foo}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Pan Number</label></td>
                        <td><p>{{v_pan}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">GST Number</label></td>
                        <td><p>{{v_gst}}</p></td>
                    </tr>
                </table>
            </div>
            <div class="contact_details">
            <h3>Vendor Contact Details</h3>
                <table>
                    <tr>
                        <td><label for="">Name</label></td>
                        <td><p>{{vcd_name}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Title</label></td>
                        <td><p>{{vcd_title}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Designation</label></td>
                        <td><p>{{vcd_designation}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Aadhaar Number</label></td>
                        <td><p>{{vcd_aadhar}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Mobile Number</label></td>
                        <td><p>{{vcd_contact}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Email Address</label></td>
                        <td><p>{{vcd_email}}</p></td>
                    </tr>
                </table>
            </div>
            <div class="document_details">
            <h2>Application Details</h2>
            <h3>Tender Documents</h3>
                <table>
                    <tr>
                        <td><label for="">Technical File</label></td>
                        <td><a href="{{furi1}}">Click Here</a></td>
                    </tr>
                    <tr>
                        <td><label for="">BOQ FIle</label></td>
                        <td><a href="{{furi2}}">Click Here</a></td>
                    </tr>
                </table>
            </div>
            <div class="payment_details">
            <h3>Payment Details</h3>
                <table>
                    <tr>
                        <td><label for="">Transaction ID</label></td>
                        <td><p>{{txn_id}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Bank Transaction ID</label></td>
                        <td><p>{{bank_txn_id}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Transaction Status</label></td>
                        <td><p>{{resp_message}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Bank Name</label></td>
                        <td><p>{{bank_name}}</p></td>
                    </tr>
                    <tr>
                        <td><label for="">Gateway Name</label></td>
                        <td><p>{{gateway_name}}</p></td>
                    </tr>
                </table>
            </div>
        </div>
        {{/each}}
    </div>
</body>

<script type="text/javascript">
    var log_a = document.getElementById("log_a")
    var nav_bar = document.getElementById("nav_bar")
   
</script>
<script src="/javascript/admin_dashboard.js"></script>
</html>
