<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage.css">    
    <title>Home</title>

</head>
<body>
    {{> header-user}}
    <div class="gallery">
        {{!-- <img src="https://i.imgur.com/0n6dmzx.jpg" alt="bg"> --}}
        <img src="/images/hpmepage_image3.jpg" alt="bg">
    </div>
    <div class="ticker">
        <div class="title"><h3>News</h3></div>
        <div class="news">
          <marquee>
            <p>Team Utkarsh - Viraj Tandel, Afif Shaikh, Priya Singh, Saurabh Yadav, Winston Sequeira, Sanket Deshmukh&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Smart India Hackathon-2020 Grand Finale is scheduled on 1st, 2nd and 3rd August</p>
          </marquee>
        </div>
    </div><br>
    <div class="intro">
        <p>E-tendering website(name of our website) offers a medium to view, select and apply for tenders in a safest manner. From selecting a tender to bidding and payment, everything is simple, fast and secure. A good user-interface environment along with easy navigation and customer service is provided. </p><br>
        <p>Welcome to Electronic Tendering System of Government of Maharashtra. This System is intended to be used by all Departments, Agencies and Corporations of Maharashtra for processing of the Tenders online. Suppliers and Contractors intending to do business with those Departments, Agencies and Corporations of Maharashtra who have migrated their processes online are invited to register on the Electronic Tendering System. New Suppliers and Contractors, click here to enroll.</p>
    </div>
    <div class="tender_table_container">
        <div class="tender_table">
            <div class="tender_label"><h2> Current Tenders</h2></div><br>    
            <div class="table_cont">
                <table>
                    <th class="first_th">Ref No</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th class="last_th">Closing Date</th>
                </table>
                <table class="marquee_table" id="current">
                    {{#each tenders}}
                        <tr>
                            <td><a href="/v1_login.html">{{et_tender_ref_no}}</a></td>
                            <td>{{et_title}}</td>
                            <td>{{et_tender_desc}}</td>
                            <td>{{date et_last_date_apply}}</td>
                        </tr>
                    {{/each}}
                </table> 
            </div>
        </div>
        <div class="tender_table">
            <div class="tender_label"><h2> Upcoming Tenders</h2></div><br>
            <div class="table_cont">
                <table>
                    <th class="first_th">Ref No</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th class="last_th">Opening Date</th>
                </table>
                <table class="marquee_table" id="upcoming">
                    {{#each tenders}}
                        <tr>
                            <td> {{et_tender_ref_no}}</td>
                            <td>{{et_title}}</td>
                            <td>{{et_tender_desc}}</td>
                            <td>{{date et_last_date_apply}}</td>
                        </tr>        
                    {{/each}}
                </table>
            </div>
        </div>      
    </div>
    {{> footer}}
</body>
<script>
    var h = document.getElementById("current"); //height of marquee table
    var h1 = document.getElementById("upcoming"); //height of marquee table
    height = h.offsetHeight;
    height1 = h1.offsetHeight;
    speed = (height/20); //formula 
    speed1 = (height1/20); //formula 

    h.style.animationDuration = speed+"s";
    h1.style.animationDuration = speed1+"s";
    console.log(speed);
    console.log(speed1);

    document.getElementById("home_link").classList.add("activ")
    
    window.onscroll = function() {myFunction()};
    function myFunction() {
		
		if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {

           element = document.querySelector('header'); 
           element.style.removeProperty('background'); 
           element.style.setProperty('background', 'linear-gradient(to bottom, rgba(103, 62, 253, 1) 0%,rgba(255,255,255,0) 100%)', 'important'); 
		}
		if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {

           element = document.querySelector('header'); 
           element.style.removeProperty('background'); 
           element.style.setProperty('background', '#663EFD', 'important'); 
		}
    }
</script>
    <script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>
	
</html>