<!DOCTYPE html>
<html>
  <head>
    <title>Preview</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/confirm_tender.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/progress_bar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <!-- <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script> -->
    <!-- <script src="html2pdf.bundle.min.js"></script> -->
  </head>
  <body>
    {{> header-user}}
    {{!-- <div class="container">
      <ul class="progressbar">
          <li class="active">Fill the details</li>
          <li class="active">Payment</li>
          <li class="active">E-sign and Upload documents</li>
          <li>Freeze the bid</li>
      </ul>
    </div> --}}
    <div  class="cont" style="height: 1300px;">
      <div id='pdf'>
      <br>
      <h2>Application</h2><br>
      <div style="text-align: right;">
        <p><strong>Application Status:</strong></p>
        <p id= "app" class="status2">Submitted</p>
      </div>
      <h3 style="text-align: left;">Tender Details</h3>
      <div id="pdf1">
      {{#if tender_details}}
      {{#with tender_details}}
      <table id="t1">
        <tr>
          <td><label><strong>Tender Id: </strong></label></td>
          <td><label id="et_id">{{et_id}}</label></td>
          <td><label><strong>Reference No: </strong></label></td>
          <td><label id="ref">{{et_tender_ref_no}}</label></td>
          <td><label><strong>Title: </strong></label></td>
          <td><label id="title">{{et_title}}</label></td>
        </tr>
        <tr>
          <td><label><strong>Fee: </strong></label></td>
          <td><label id="fee">{{et_tender_fee}}</label></td>
          <td><label><strong>Bidding Date: </strong></label></td>
          <td><label id="bid">{{date et_bidding_date}}</label></td>
        </tr>
      </table><br><hr><br>
      {{/with}}
      {{else}}
       <label for="">Could not load Tender Details</label>      
      {{/if}}
      <h3 style="text-align: left;">Personal Details</h3>
      {{#if personal_details}}
      {{#with personal_details}}
      <table>
        <tr>
          <td><label><strong>Name: </strong></label></td>
          <td><label id="name">{{vcd_name}}</label></td>
          <td><label><strong>DOB: </strong></label></td>
          <td><label id="dob">{{date vcd_dob}}</label></td>
          <td><label><strong>Designation: </strong></label></td>
          <td><label id="desg">{{vcd_designation}}</label></td>
        </tr>
        <tr>
          <td><label><strong>Aadhar No: </strong></label></td>
          <td><label id="aadhar">{{vcd_aadhar}}</label></td>
          <td><label><strong>Email: </strong></label></td>
          <td><label id="email">{{vcd_email}}</label></td>
          <td><label><strong>Contact No: </strong></label></td>
          <td><label id="contact">{{vcd_contact}}</label></td>
        </tr>
      </table><br><hr><br>
      <h3 style="text-align: left;">Company Details</h3>
      <table>
        <tr>
          <td><label><strong>Name: </strong></label></td>
          <td><label id="cname">{{v_name}}</label></td>
          <td><label><strong>Legal Status: </strong></label></td>
          <td><label id="legal">{{v_legal_id}}</label></td>
          <td><label><strong>Estd Year: </strong></label></td>
          <td><label id="yoe">{{v_yoe}}</label></td>
        </tr>
        <tr>
          <td><label><strong>Registration No: </strong></label></td>
          <td><label id="register">{{v_reg_no}}</label></td>
          <td><label><strong>GST No: </strong></label></td>
          <td><label id="gst">{{v_gst}}</label></td>
          <td><label><strong>PAN No: </strong></label></td>
          <td><label id="pan">{{v_pan}}</label></td>
        </tr>
        <tr>
          <td><label><strong>Email: </strong></label></td>
          <td><label id="cemail">{{v_email}}</label></td>
          <td><label><strong>Contact No: </strong></label></td>
          <td><label id="ccontact">{{v_mobile}}</label></td>
          <td><label><strong>Address: </strong></label></td>
          <td><label id="address">{{v_address}}</label></td>
        </tr>
      </table><hr>
      {{/with}}
      {{else}}
        <label for="">Could not load Personal and Company Details</label>
      {{/if}}
    </div id='pdf2'>
      <div class="upload_documents">
        <h3 style="text-align: left;">Uploaded Documents</h3><br>
        {{#if payment_details}}
      {{#with payment_details}}
        <table>
          <tr>
            <th>Sr.No.</th>
            <th>File name</th>
            <th>File URI</th>
            <th>File Link</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Tehnical</td>
            <td id="file1">{{furi1}}</td>
            <td><a href="">Preview</a></td>
          </tr> 
          <tr>
            <td>2</td>
            <td>BOQ</td>
            <td id="file2">{{furi2}}</td>
            <td><a href="">Preview</a></td>
          </tr> 
        </table>  
      </div><hr>
      <div class="payment_details" id="pdf3">
        <h3  style="text-align: left;">Payment Details</h3><br>
        <table>
          <tr>
            <th>Transaction ID</th>
            <th>Amount</th>
            <th>Date & Time</th>
            <th>Bank Name</th>
            <th>Payment Method</th>
            <th>Status</th>
          </tr> 
          <tr>
            <td id="transaction">{{txn_id}}</td>
            <td id="amt">{{txn_amount}}</td>
            <td id="date">{{date txn_timestamp}}</td>
            <td id="bank">{{bank_name}}</td>
            <td >Debit Card</td>
            <td id="status" style="color: #008000;">{{resp_message}}</td>
          </tr> 
        </table>
      {{/with}}
      {{else}}
        <label for="">Could not load File and Payment Details</label>
      {{/if}} 
      </div><br>
    </div>
      <div id="download">
        <div style="float: left;">
            <p><strong>Place:</strong></p>
            <p id="place">MUMBAI</p><br>
            <p><strong>Date:</strong></p>
            <p id="da_te"></p><br>
            <p><strong>Time:</strong></p>
            <p id="time"></p><br>
          </div>
          <div style="float: right;"  onclick="print3()">
            <a ><img src="/images/pdf.gif" width="55px" height="55px"></a><br>
            <a>Download</a>
          </div><br>
      </div>
      <div  class="submit_button" style="display: none;">
        <!-- <button type="button" onclick="back()">Back</button> -->
        <button id ="freeze" type="submit" onclick="freeze()">Freeze Bid</button>
      </div>
    </div>
  </body>


<script type="text/javascript" src="/javascript/v5_confirm_tender.js"></script>
<script type="text/javascript">
  var base64Img = null;
margins = {
  top: 70,
  bottom: 40,
  left: 30,
  width: 550
};

  var d = new Date();
  document.getElementById("da_te").innerHTML = d.getDate() + "-" + d.getMonth() + "-" + d.getFullYear();
  document.getElementById("time").innerHTML = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();

  function print() {const filename  = 'ThisIsYourPDFFilename.pdf';

	}


function print2() {
		const filename  = 'ThisIsYourPDFFilename.pdf';

		html2canvas(document.querySelector('#pdf'), 
								{scale: 1}
						 ).then(canvas => {
			let pdf = new jsPDF('p', 'mm', 'a2');
			pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 10, 0, 350, 400);
			pdf.save(filename);
    });


  


  }
  

  function print3(){
    console.log(message)
    var doc = new jsPDF('p', 'mm', [297, 210]);
    var doc2 = new jsPDF('p', 'mm', [297, 210]);
    // doc.text('Hello world!', 10, 10)
    // doc.addPage();
    // doc.setFontSize(22);
    // doc.text(20, 20, 'Answers');
    // doc.setFontSize(16);
    doc.setFont("Times New Roman");

    doc.setFontSize(26);
    doc.text('Application Form',70,25)

    doc.setFontSize(22);
    // doc.setFontType("italic");
    doc.text('Status: ',147,40)
    doc.setTextColor(36,173,2);
    doc.text('Submitted',170,40)

    doc.setFontSize(16);
    doc.setFontType("bold");
    doc.setTextColor(0,0,0);
    doc.text("TENDER DETAILS",20,50)
    doc.setFontType("");
    doc.setTextColor(157,157,157);
    doc.setFontSize(14);
    doc.text("Tender Id:",30,60)
    doc.text("Refernce number:",30,70)
    doc.text("Title:",30,80)
    doc.text("Fee:",30,90)
    doc.text("Bidding Date:",30,100)
    doc.setTextColor(0,0,0);
    doc.text( $("#et_id").text(), 70, 60)
    doc.text( $("#ref").text(), 70, 70)
    doc.text( $("#title").text(), 70, 80)
    doc.text( $("#fee").text(), 70, 90)
    doc.text( $("#bid").text(), 70, 100)

        // doc.text("Tender Id: "+ et_id + "\tRefernce number: "+message.result0[0].et_tender_ref_no + "\tTitle: "+message.result0[0].et_title,15,60)
        // doc.text("Fee: "+ message.result0[0].et_tender_fee + "\tBidding Date: "+message.result0[0].et_bidding_date.slice(0,-14),15,70)

    doc.setDrawColor(196,196,196);
    doc.line(5,110,205,110)

    doc.setFontSize(16);
    doc.setFontType("bold");
    doc.setTextColor(0,0,0);
    doc.text("PERSONAL DETAILS",20,120)
    doc.setFontType("");
    doc.setTextColor(157,157,157);
    doc.setFontSize(14);
    doc.text("Name:",30,130)
    doc.text("DOB:",30,140)
    doc.text("Designation:",30,150)
    doc.text("Aadhar No:",30,160)
    doc.text("Email:",30,170)
    doc.setTextColor(0,0,0);
    doc.text( $("#name").text(), 70, 130)
    doc.text( $("#dob").text(), 70, 140)
    doc.text( $("#desg").text(), 70, 150)
    doc.text( $("#aadhar").text(), 70, 160)
    doc.text( $("#email").text(), 70, 170)

        // doc.setFontSize(16);
        // doc.setFontType("bold");
        // doc.setTextColor(0,0,0);
        // doc.text("Personal Details",10,90)
        // doc.setFontType("");
        // doc.setFontSize(12);
        // doc.text("Name: "+ message.result1[0].vcd_name + "\tDOB: "+message.result1[0].vcd_dob + "\tDesignation: "+message.result1[0].vcd_designation,15,100)
        // doc.text("Aadhar No: "+ message.result1[0].vcd_aadhar + "\tEmail: "+message.result1[0].vcd_email,15,110)

    doc.setDrawColor(196,196,196);
    doc.line(5,180,205,180)

    doc.setFontSize(16);
    doc.setFontType("bold");
    doc.setTextColor(0,0,0);
    doc.text("COMPANY DETAILS",20,190)
    doc.setFontType("");
    doc.setTextColor(157,157,157);
    doc.setFontSize(14);
    doc.text("Name:",30,200)
    doc.text("Legal Status:",30,210)
    doc.text("Estd Year:",30,220)
    doc.text("Registration No:",30,230)
    doc.text("GST No:",30,240)
    doc.text("PAN No:",30,250)
    doc.text("Email:",30,260)
    doc.text("Contact No:",30,270)
    doc.text("Address:",30,280)
    doc.setTextColor(0,0,0);
    doc.text( $("#cname").text(), 70, 200)
    doc.text( $("#legal").text(), 70, 210)
    doc.text( $("#yoe").text(), 70, 220)
    doc.text( $("#register").text(), 70, 230)
    doc.text( $("#gst").text(), 70, 240)
    doc.text( $("#pan").text(), 70, 250)
    doc.text( $("#cemail").text(), 70, 260)
    doc.text( $("#ccontact").text(), 70, 270)
    doc.text( $("#address").text(), 70, 280)

        // doc.setFontSize(16);
        // doc.setFontType("bold");
        // doc.setTextColor(0,0,0);
        // doc.text("Company Details",10,130)
        // doc.setFontType("");
        // doc.setFontSize(12);
        // doc.text("Name: "+ message.result1[0].v_name + "\tLegal Status: "+message.result1[0]+ "\tEstd Year: "+message.result1[0].v_yoe,15,140)
        // doc.text("Registration No: "+ message.result1[0].v_reg_no+ "\tGST No: "+message.result1[0].v_gst+"\tPAN No: "+message.result1[0].v_pan ,15,150)
        // doc.text("Email: "+ message.result1[0].v_email+ "\tContact No: "+message.result1[0].v_mobile,15,160)
        // doc.text("Address: " +message.result1[0].v_address,15,170)

    doc2.setFont("Times New Roman");
    doc2.setFontSize(16);
    doc2.setFontType("bold");
    doc2.setTextColor(0,0,0);
    doc2.text("Uploaded Documents",20,50)
    doc2.setFontType("");
    doc2.setTextColor(157,157,157);
    doc2.setFontSize(14);
    doc2.text("Tehnical:",30,60)
    doc2.text("BOQ:",30,70)
    doc2.setTextColor(0,0,0);
    // doc2.text( message.result2[0].furi1, 70, 60)
    // doc2.text( message.result2[0].furi2, 70, 70)
     
    doc2.setDrawColor(196,196,196);
    doc2.line(5,80,205,80)

        // doc.setFontSize(16);
        // doc.setFontType("bold");
        // doc.setTextColor(0,0,0);
        // doc.text("Uploaded Documents",10,190)
        // doc.setFontType("");
        // doc.setFontSize(12);
        // doc.textWithLink("Tehnical: ",15,200, {url: message.result2[0].furi1})
        // doc.textWithLink("BOQ: ",15,210, {url: message.result2[0].furi2})
 
    doc2.setFontSize(16);
    doc2.setFontType("bold");
    doc2.setTextColor(0,0,0);
    doc2.text("PAYMENT DETAILS",20,90)
    doc2.setFontType("");
    doc2.setTextColor(157,157,157);
    doc2.setFontSize(14);
    doc2.text("Transaction ID:",30,100)
    doc2.text("Amount:",30,110)
    doc2.text("Date & Time:",30,120)
    doc2.text("Bank Name:",30,130)
    doc2.text("Payment Method:",30,140)
    doc2.text("Status:",30,150)
    doc2.setTextColor(0,0,0);
    doc2.text( $("#transaction").text(), 70, 100)
    doc2.text( $("#amt").text(), 70, 110)
    doc2.text( $("#date").text(), 70, 120)
    doc2.text( $("#bank").text(), 70, 130)
    doc2.text( "Debit card", 70, 140)
    doc2.text( $("#status").text(), 70, 150)


        // doc.setFontSize(16);
        // doc.setFontType("bold");
        // doc.setTextColor(0,0,0);
        // doc.text("Payment Details",10,210)
        // doc.setFontType("");
        // doc.setFontSize(12);
        // doc.text("Transaction ID: "+ message.result2[0].txn_id + "\tAmount: "+message.result2[0].txn_amount+ "\tDate & Time: "+message.result2[0].txn_timestamp,15,220)
        // doc.text("Bank Name: "+ message.result2[0].bank_name + "\tPayment Method: "+"Debit card"+ "\tStatus: "+message.result2[0].resp_message,15,230)
 
    doc2.setDrawColor(196,196,196);
    doc2.line(5,160,205,160)
 
    
    doc2.setFontSize(16);
    doc2.setFontType("");
    doc2.setTextColor(157,157,157);
    doc2.text("Place: ",20,170)
    doc2.setTextColor(0,0,0);
    doc2.text("Mumbai",35,170)

    doc2.setTextColor(157,157,157);
    doc2.text("Date: ",20,180)
    doc2.setTextColor(0,0,0);
    doc2.text(d.getDate() + "-" + d.getMonth() + "-" + d.getFullYear(),35,180)

    doc2.setTextColor(157,157,157);
    doc2.text("Time: ",20,190)
    doc2.setTextColor(0,0,0);
    doc2.text(d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds(),35,190)

    doc.save("Preview")
    doc2.save("Preview2")
  }
</script>
</html>
