<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>
</head>

<body>
  {{> header-user}}
  <div class="main">
    <div class="tab">
      <!-- <h3>Personal Details</h3> -->
      <button class="tablinks first-button active" id="pro-button" onclick="operation('Profile')"><i class="far fa-user-circle"></i>&nbsp &nbspMy Profile</button>
      <!-- <h3>Bid Details</h3> -->
      <button class="tablinks" id="ten-button" onclick="operation('Tenders')"><i class="far fa-bookmark"></i>&nbsp &nbspMy Tenders</button>
      <button class="tablinks" id="app-button" onclick="operation('Approved')"><i class="far fa-check-circle"></i>&nbsp &nbspApproved Tenders</button>
      {{!-- <button class="tablinks" id="down-button" onclick="operation('Docs')"><i class="fas fa-file-download"></i>&nbsp &nbspDownloaded Documents</button> --}}
      <button class="tablinks" onclick="location.href='/tenders'"><i class="fas fa-search"></i>&nbsp &nbspSearch Tenders</button>
    </div>
 
    <div id="Tenders" class="tabcontent" style="display: none;">
      <h2>My Tenders</h2>
        <div class="tenders_details">
          {{#if my_tenders}}
          <table>
            <tr>
              <th>Reference No</th>
              <th>Title</th>
              <th>Tender Description</th>
              <th>Bidding Amount</th>
              <th>Preview</th>
              <th>Status</th>
            </tr>
          {{#each my_tenders}}
            <tr>
              <td>{{et_tender_ref_no}}</td>
              <td>{{et_title}}</td>
              <td>{{et_tender_desc}}</td>
              <td>{{bidding_amt}}</td>
              <td><a href=/tender/preview?et_id={{et_id}}&etd_id={{etd_id}}>View</a></td>
              <td>Submitted</td>
            </tr>
          {{/each}}
          </table>
          {{else}}
            <label class="RnoLabel"><strong>NO TENDER APPLIED YET ! APPLY FOR TENDER <a href="/tenders">here</a></strong></label>
          {{/if}}
        
      </div>
    </div>

    <div id="Approved" class="tabcontent" style="display: none;">
      <h2>Approved Tenders</h2>
      {{!-- {{#if approved_tenders}}
      <div class="tenders_details">
        <table>
        <tr>
          <th>Reference No</th>
          <th>Title</th>
          <th>Tender Description</th>
          <th>Bidding Amount</th>
          <th>Preview</th>
          <th>Status</th>
        </tr>
        {{#each approved_tenders}}
            <tr>
              <td>{{et_tender_ref_no}}</td>
              <td>{{et_title}}</td>
              <td>{{et_tender_desc}}</td>
              <td>{{bidding_amt}}</td>
              <td><a href="/tender/preview?et_id={{et_id}}&etd_id={{etd_id}}">view</a></td>
              <td>Approved</td>
              </tr>
        {{/each}}
        </table>
        </div>
      {{else}}
        <br><label class="RnoLabel"><strong>NO TENDER APPROVED YET ! APPLY FOR TENDER <a href="/tenders">here</a></strong></label>
      {{/if}} --}}
    </div>
 
    <div id="Docs" class="tabcontent" style="display: none;">
      <h2>Downloaded Documents</h2>
      <h4>The list of vendor downloaded documents</h4>
    </div>

    <div id="Search" class="tabcontent" style="display: none;">
      <h2>Search Tenders</h2>
      <h4>The list of matching tenders</h4>    
    </div>

    <div id="Profile" class="tabcontent profile">
      <h2>My Profile</h2>
      <!-- <h4>Welcome Ms./Mr. xyz</h4> -->
      <div id="personal_details" class="profile_details">
        <div style="width: 950px;">
          <h3 style="float: left;"><i class="fas fa-user"></i>&nbsp Personal Details</h3><br>
        </div>
        <table class="profile_table">
          {{#if person_details}}
            {{#with person_details}}
                <tr>
                  <td><label><strong>Name:</strong></label></td>
                  <td><input type="text" id="name"  value="{{vcd_name}}" autocomplete="off" maxlength="20" readonly></td>
                  <td><label ><strong>Date of birth:</strong></label></td>
                  <td><input type="text" id="dob" value ="{{vcd_dob}}" autocomplete="off" readonly></td>
                  <td><label><strong>Designation:</strong></label></td>
                  <td><input type="text" id="desg" value ="{{vcd_designation}}" autocomplete="off" maxlength="20" readonly></td>
                </tr>
                <tr>
                  <td><label><strong>Email Id:</strong></label></td>
                  <td><input type="text" id="email" value ="{{vcd_email}}" autocomplete="off" maxlength="320" readonly></td>
                  <td><label><strong>Mobile No:</strong></label></td>
                  <td><input type="text" id="mobile" value ="{{vcd_contact}}" autocomplete="off" maxlength="10" readonly></td>
                  <td><label><strong>Aadhar No:</strong></label></td>
                  <td><input type="text" id="aadhar" value ="{{vcd_aadhar}}" autocomplete="off" maxlength="12" readonly></td>
              </tr>
            {{/with}}
            {{else}}
                  <br><label class="RnoLabel"><strong>Could not load Profile Details</strong></label>
            {{/if}}
        </table><br><br>
      </div>
      <div id="Company_Profile" class="profile_details">
        <h3 style="float: left;"><i class="far fa-building"></i>&nbsp; Company Details</h3><br><br>
        {{#if company_details}}
          <table class="profile_table">
            <tr>
              <td><label><strong>Name:</strong></label></td>
              <td><input type="text" id="cname"  autocomplete="off" maxlength="20" readonly></td>
              <td><label><strong>Legal status:</strong></label></td>
              <td> 
                <select class="hide" id="legal" autocomplete="off" disabled>
                  {{#each status}}
                    <option value="{{l_name}}">{{l_name}}</option>
                  {{/each}}
              </td>
              <td><label><strong>Estd Year:</strong></label></td>
              <td><select class="hide" id="yoe" autocomplete="off" disabled>
              {{#each years}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
              </td>
            </tr>
            <tr>
              <td><label><strong>Registration No:</strong></label></td>
              <td><input type="text" id="reg"  autocomplete="off" maxlength="23" readonly></td>
              <td><label><strong>GST No:</strong></label></td>
              <td><input type="text" id="gst"  autocomplete="off" maxlength="15" readonly></td>
              <td><label><strong>PAN No:</strong></label></td>
              <td><input type="text" id="pan"  autocomplete="off" maxlength="10" readonly></td>
            </tr>
            <tr>
              <td><label><strong>Email:</strong></label></td>
              <td><input type="text" id="mail"  autocomplete="off" maxlength="320" readonly></td>
              <td><label><strong>Contact No:</strong></label></td>
              <td><input type="text" id="ccontact" autocomplete="off" maxlength="10" readonly></td>
            </tr>
            <tr>
              <td><label><strong>State:</strong></label></td>
              <td><select class="hide" id="state" autocomplete="off" disabled onclick="city()">
                
              </td>
              <td><label><strong>City:</strong></label></td>
              <td><select class="hide" id="city" autocomplete="off" disabled></td>
              <td><label><strong>Address:</strong></label></td>
              <td><input type="text" id="add"  autocomplete="off" readonly></td>
            </tr>
          </table><br><br>
        {{else}}
          <br><label class="RnoLabel"><strong>Could not load Company Details</strong></label>
        {{/if}}
        <p id="tc1"></p><br>
      </div>
      <button id="edit1"><i class='fas fa-edit'></i>&nbsp; Edit</button>
      <button id="save" style="display: none;" onclick="save()"><i id="icon1"></i>Save</button>
      <button id="cancel" style="display: none;" onclick="location='/profile'">Cancel</button>
    </div>
  </div>
</body>
<script type="text/javascript" src="/javascript/profile.js"></script>
</html> 