<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Register</title>
  </head>
<body>
    {{> header-user}}
    <div class="container">
      <ul class="progressbar">
        <li id="first">Account Details</li>
        <li id="second">Company Details</li>
        <li id="third">Contact Details</li>
        <li id="fourth">Aadhar Authentication</li>
      </ul>
    </div>
    <div class="account_details">
      <h1>Registration</h1><br><br>
      <div class="Detailslabel"><h2>Account Details</h2></div>
      <table class="center">
      <tr>
      <td><label for="username">Username</label></td>
      <td><i class="fas fa-user"></i><input id="username" type="text" placeholder="Enter Username" maxlength="15"></td></tr>
      <tr>
      <td><label for="password">Password</label></td>
      <td><i class="fas fa-key"></i><input id="password" type="password" placeholder="7 to 15 characters" maxlength="15"></td>
      </tr>
      <tr>
      <td><label for="confirm_password">Confirm Password</label></td>
      <td><i class="fas fa-check-circle"></i></i><input type="password" id="confirm_password" placeholder="Renter Password" maxlength="15"></td>
      </tr><br>
    </table>
       <button id="account_button">Next</button>
    </div>
    <div class="company_details" style="display:">
      <h1>Registration</h1>
      <div class="Detailslabel"><h2>Company Details</h2></div>
      <table>
        <tr>
        <td><label for="company_name">Company Name</label></td>
        <td><i class="far fa-building"></i><input id="company_name" type="text"  placeholder="Enter Your Company Name" maxlength="20"></td>

        <td><label for="company_address">Company Address</label></td>
        <td><i class="far fa-address-card"></i><textarea id="company_address" name="" cols="30" rows="10" style="resize: none;" placeholder="Enter Your Company Address" maxlength="35"></textarea></td>
        </tr>
        <tr>
        <td><label for="company_email">Company Email Address</label></td>
        <td><i class="far fa-envelope"></i><input id="company_email" type="email" placeholder="Enter Your Company Email" maxlength="320"></td>
        <td><label for="mobile_number">Mobile Number</label></td>
        <td><i class="fas fa-phone"></i><input id="mobile_number" type="text" placeholder="Enter Your Company Mobile No" maxlength="10"></td>
        </tr>
        <tr>
          <td><label for="registration_number">Company Registration Number</label></td>
          <td><i class="far fa-registered"></i><input id="registration_number" type="text" placeholder="Enter Your Company RegNo 15-21 digits" maxlength="23"></td>
        <td><label for="state">State</label></td>
        <td><select id="state">
          <option value="select" selected> --select--</option>
          {{#each states}}
                <option value="{{st_name}}">{{st_name}}</option>
          {{/each}}
        </select></td>
        </tr>
        <tr>
          <td><label for="city">City</label></td>
          <td><select id="city">
            <option value="select">--select--</option>
          </select></td>
          <td><label for="establishment_year">Establishment Year</label></td>
        <td><select id="establishment_year">
          <option value="select"> --select--</option>
          {{#each years}}
                <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select></td>
        </tr>
        <tr>
          <td><label for="pincode">Pincode</label></td>
          <td><i class="fas fa-map-marker-alt"></i><input id="pincode" type="text" placeholder="Enter Your Area Pincode" maxlength="6"></td>
          <td><label for="legal_status">Legal Status</label></td>
          <td><select id="legal_status"> 
            <option value="select" selected>--select--</option>
            {{#each status}}
                <option value="{{l_name}}">{{l_name}}</option>
            {{/each}}
          </select></td>
        </tr>
        <tr>
          <td><label for="pan_number">Pan Number</label></td>
          <td><i class="far fa-id-card"></i><input id="pan_number" type="text" placeholder="Enter Your 10 digit Pan No" maxlength="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><label for="gst_register_number">GST Registration Number</label></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="40" height="40"
              viewBox="0 0 172 172"
              style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#663efd"><path d="M83.88989,26.875l-0.97632,4.15723c0,0 -0.76294,3.12266 -2.89746,6.24634c-2.13451,3.12368 -4.8756,5.72144 -10.14111,5.72144v10.75c7.41514,0 12.46428,-3.67173 16.125,-7.61108v34.48608h10.75v-53.75zM45.6875,91.375c-10.34048,0 -18.8125,8.47202 -18.8125,18.8125v2.6875h10.75v-2.6875c0,-4.70952 3.35298,-8.0625 8.0625,-8.0625h5.375c4.70952,0 8.0625,3.35298 8.0625,8.0625c0,2.44621 -1.86349,5.29235 -4.99707,7.25415v0.0105c-6.61853,4.06856 -12.54251,6.62867 -17.38476,9.34327c-2.42575,1.35989 -4.63725,2.75198 -6.52978,4.78711c-1.89254,2.03513 -3.33838,5.0424 -3.33838,8.16748v5.375h43v-10.75h-24.54443c3.95767,-2.0343 8.49856,-4.11709 14.46631,-7.78955h0.0105l0.02099,-0.0105c5.46062,-3.41277 10.04663,-9.16106 10.04663,-16.38745c0,-10.34048 -8.47202,-18.8125 -18.8125,-18.8125zM118.25,91.375c-8.84432,0 -16.125,7.28068 -16.125,16.125v2.6875h10.75v-2.6875c0,-2.98068 2.39432,-5.375 5.375,-5.375h10.75c2.98068,0 5.375,2.39432 5.375,5.375c0,2.98068 -2.39432,5.375 -5.375,5.375h-10.75v10.75h10.75c2.98068,0 5.375,2.6896 5.375,4.8396v0.5354c0,2.98068 -2.39432,5.375 -5.375,5.375h-10.75c-2.98068,0 -5.375,-2.39432 -5.375,-5.375v-2.6875h-10.75v2.6875c0,8.84432 7.28068,16.125 16.125,16.125h10.75c8.84432,0 16.125,-7.28068 16.125,-16.125v-0.5354c0,-4.02538 -1.83673,-7.55195 -4.44067,-10.31958c2.60074,-2.86762 4.44067,-6.50815 4.44067,-10.64502c0,-8.84432 -7.28068,-16.125 -16.125,-16.125z"></path></g></g></svg><input id="gst_register_number" type="text" placeholder="Enter Your 15 digit GST Reg No" maxlength="15"></td>
        </tr>
        <tr>
          <td><label for="schemes">Schemes</label></td>
          <td><textarea id="schemes" name="" cols="30" rows="10" style="resize: none;" placeholder="Enter Goverment schemes applied for" maxlength="35"></textarea></td>
          <td><label for="schemes">Staff count</label></td>
          <td><input id="staff_count" type="number" placeholder="staff count" maxlength="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> 
        </tr>
        <tr>
          <td><label for="schemes">Total Equipments count</label></td>
          <td><input id="count_total_equi" type="number" placeholder="Enter Your 10 digit Pan No" maxlength="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</textarea></td>
          <td><label for="schemes">Made in India Equipment count</label></td>
          <td><input id="count_indian_equi" type="number" placeholder="Enter Your 10 digit Pan No" maxlength="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> 
        </tr>
    </table>
    <br>
      <!-- <button id="company_button_back">Back</button> -->
      <button id="company_button">Next</i></button>
  </div>
    <div class="contact__details" style="display: ">
      <h1>Registration</h1>
      <div class="Detailslabel"><h2>Contact Details</h2></div><br>
      <table>
        <tr>
          <td><label for="title">Title</label></td>
          <td><select id="title">
            <option value="select" selected>--Select--</option>
            <option value="Mrs">Mrs</option>
            <option value="Mr"> Mr</option>
            <option value="Ms"> Ms</option>
            <option value="Dr"> Dr</option>
            <option value="Sri">Sri</option>
          </select></td>
          <td><label for="contact_name">Contact Name</label></td>
          <td><i class="fas fa-id-card-alt"></i><input id="contact_name" type="text" placeholder="Enter Your Contact Name" maxlength="20"></td>
        </tr>
        <tr>
          <td><label for="date_of_birth">Date Of Birth(DD/MM/YYYY)</label></td>
          <td><input id="date_of_birth" type="date"></td>
          <td><label for="designation">Designation</label></td>
          <td><i class="fas fa-user-tie"></i><input id="designation" type="text" placeholder="Enter Your Designation" maxlength="20"></td>
        </tr>
        <tr>
          <td><label for="contact_email">Correspondence Email Address</label>
          <td><i class="far fa-envelope"></i><input id="contact_email" type="email" placeholder="Enter Correspondence Email" maxlength="320"></td>
          <td><label for="contact_contact">Mobile Number</label></td>
          <td><i class="fas fa-phone"></i><input  id="contact_contact" type="text" placeholder="Enter Your Mobile Number" maxlength="10"></td>
        </tr>
        
    </table>
    <br> 
    <!-- <button class="submit_button" id="contact__details_previous">Back</button> -->

    <button id="contact_button">Next</i></button>     
    </div>
    <!-- <div class="submit_button" style="display: none;">
    </div> -->
    <div class="aadhar__details" style="display: none;">
      <h1>Aadhar Authentication</h1><br><br>
      <div class="Detailslabel"><h2>Aadhar Details</h2></div><br>
      <table>
        <tr>
          <td><label for="aadhaar_number">Aadhaar Number</label></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="40" height="40"
              viewBox="0 0 172 172"
              style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#663efd"><path d="M83.88989,26.875l-0.97632,4.15723c0,0 -0.76294,3.12266 -2.89746,6.24634c-2.13451,3.12368 -4.8756,5.72144 -10.14111,5.72144v10.75c7.41514,0 12.46428,-3.67173 16.125,-7.61108v34.48608h10.75v-53.75zM45.6875,91.375c-10.34048,0 -18.8125,8.47202 -18.8125,18.8125v2.6875h10.75v-2.6875c0,-4.70952 3.35298,-8.0625 8.0625,-8.0625h5.375c4.70952,0 8.0625,3.35298 8.0625,8.0625c0,2.44621 -1.86349,5.29235 -4.99707,7.25415v0.0105c-6.61853,4.06856 -12.54251,6.62867 -17.38476,9.34327c-2.42575,1.35989 -4.63725,2.75198 -6.52978,4.78711c-1.89254,2.03513 -3.33838,5.0424 -3.33838,8.16748v5.375h43v-10.75h-24.54443c3.95767,-2.0343 8.49856,-4.11709 14.46631,-7.78955h0.0105l0.02099,-0.0105c5.46062,-3.41277 10.04663,-9.16106 10.04663,-16.38745c0,-10.34048 -8.47202,-18.8125 -18.8125,-18.8125zM118.25,91.375c-8.84432,0 -16.125,7.28068 -16.125,16.125v2.6875h10.75v-2.6875c0,-2.98068 2.39432,-5.375 5.375,-5.375h10.75c2.98068,0 5.375,2.39432 5.375,5.375c0,2.98068 -2.39432,5.375 -5.375,5.375h-10.75v10.75h10.75c2.98068,0 5.375,2.6896 5.375,4.8396v0.5354c0,2.98068 -2.39432,5.375 -5.375,5.375h-10.75c-2.98068,0 -5.375,-2.39432 -5.375,-5.375v-2.6875h-10.75v2.6875c0,8.84432 7.28068,16.125 16.125,16.125h10.75c8.84432,0 16.125,-7.28068 16.125,-16.125v-0.5354c0,-4.02538 -1.83673,-7.55195 -4.44067,-10.31958c2.60074,-2.86762 4.44067,-6.50815 4.44067,-10.64502c0,-8.84432 -7.28068,-16.125 -16.125,-16.125z"></path></g></g></svg><input id="aadhaar_number" type="text" placeholder="Enter Your Aadhar Number" maxlength="12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
        <td><i class="fas fa-mobile-alt" id="iotp" style="display: none; margin-left: -10px;"></i><input id="otp" placeholder="Enter OTP" type="password" style="display: none;" maxlength="6"></td>
          <td><button id="otp_button" style="display: none; margin:0;">Confirm</button></td>
        </tr>
    </table><br><br>
    <button id="verify_button">Verify</button>    
    <button id="resend_button" style="display: none;">Resend Otp</button>
    <button id="change_aadhar_button" style="display: none; padding:auto 5px; width:140px">Change Aadhar</button>    
    <button class="submit_button" id="submit_button">Register</button>
    </div>
    <h1 id="error_para"></h1>
</body>
</html>
<script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>
<script src="/javascript/v2_register.js" ></script>
