<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Register</title>
  </head>
<body>
    {{> header-user}}
    <div class="account_details">
      <h1>Registration</h1><br><br>
      <div class="Detailslabel"><h2>Account Details</h2></div>
      <table class="center">
      <tr>
      <td><label for="username">Username</label></td>
      <td><input id="username" type="text" placeholder="Enter Username" maxlength="15"></td></tr>
      <tr>
      <td><label for="password">Password</label></td>
      <td><input id="password" type="password" placeholder="min 5 characters" maxlength="15"></td>
      </tr>
      <tr>
      <td><label for="confirm_password">Confirm Password</label></td>
      <td><input type="password" id="confirm_password" placeholder="Renter Password" maxlength="15"></td>
      </tr><br>
    </table>
       <button id="account_button">Next</button>
    </div>
    <div class="company_details" style="display: none;">
      <h1>Registration</h1>
      <div class="Detailslabel"><h2>Company Details</h2></div>
      <table>
        <tr>
        <td><label for="company_name">Company Name</label></td>
        <td><input id="company_name" type="text"  placeholder="Enter Your Company Name" maxlength="20"></td>

        <td><label for="company_address">Company Address</label></td>
        <td><textarea id="company_address" name="" cols="30" rows="10" style="resize: none;" placeholder="Enter Your Company Address" maxlength="35"></textarea></td>
        </tr>
        <tr>
        <td><label for="company_email">Company Email Address</label></td>
        <td><input id="company_email" type="email" placeholder="Enter Your Company Email" maxlength="320"></td>
        <td><label for="mobile_number">Mobile Number</label></td>
        <td><input id="mobile_number" type="text" placeholder="Enter Your Company Mobile No" maxlength="10"></td>
        </tr>
        <tr>
          <td><label for="registration_number">Company Registration Number</label></td>
          <td><input id="registration_number" type="text" placeholder="Enter Your Company RegNo 15-21 digits" maxlength="23"></td>
        <td><label for="state">State</label></td>
        <td><select id="state">
          <option value="select" selected> --select--</option>
          {{#each states}}
                <option value="{{st_name}}">{{st_name}}</option>
          {{/each}}
        </select></td>
        </tr>
        <tr>
          <td><label for="city">City</label></td>
          <td><select id="city">
            <option value="select">--select--</option>
          </select></td>
          <td><label for="establishment_year">Establishment Year</label></td>
        <td><select id="establishment_year">
          <option value="select"> --select--</option>
          {{#each years}}
                <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select></td>
        </tr>
        <tr>
          <td><label for="pincode">Pincode</label></td>
          <td><input id="pincode" type="text" placeholder="Enter Your Area Pincode" maxlength="6"></td>
          <td><label for="legal_status">Legal Status</label></td>
          <td><select id="legal_status"> 
            <option value="select" selected>--select--</option>
            {{#each status}}
                <option value="{{l_name}}">{{l_name}}</option>
            {{/each}}
          </select></td>
        </tr>
        <tr>
          <td><label for="pan_number">Pan Number</label></td>
          <td><input id="pan_number" type="text" placeholder="Enter Your 10 digit Pan No" maxlength="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><label for="gst_register_number">GST Registration Number</label></td>
          <td><input id="gst_register_number" type="text" placeholder="Enter Your 15 digit GST Reg No" maxlength="15"></td>
        </tr>
    </table>
    <br>
      <!-- <button id="company_button_back">Back</button> -->
      <button id="company_button">Next</i></button>
  </div>
    <div class="contact__details" style="display: none;">
      <h1>Registration</h1>
      <div class="Detailslabel"><h2>Contact Details</h2></div><br>
      <table>
        <tr>
          <td><label for="title">Title</label></td>
          <td><select id="title">
            <option value="select" selected>--Select--</option>
            <option value="Mrs">Mrs</option>
            <option value="Mr"> Mr</option>
            <option value="Ms"> Ms</option>
            <option value="Dr"> Dr</option>
            <option value="Sri">Sri</option>
          </select></td>
          <td><label for="contact_name">Contact Name</label></td>
          <td><input id="contact_name" type="text" placeholder="Enter Your Contact Name" maxlength="20"></td>
        </tr>
        <tr>
          <td><label for="date_of_birth">Date Of Birth(DD/MM/YYYY)</label></td>
          <td><input id="date_of_birth" type="date"></td>
          <td><label for="designation">Designation</label></td>
          <td><input id="designation" type="text" placeholder="Enter Your Designation" maxlength="20"></td>
        </tr>
        <tr>
          <td><label for="contact_email">Correspondence Email Address</label>
          <td><input id="contact_email" type="email" placeholder="Enter Correspondence Email" maxlength="320"></td>
          <td><label for="contact_contact">Mobile Number</label></td>
          <td><input  id="contact_contact" type="text" placeholder="Enter Your Mobile Number" maxlength="10"></td>
        </tr>
        
    </table>
    <br> 
    <!-- <button class="submit_button" id="contact__details_previous">Back</button> -->

    <button id="contact_button">Next</i></button>     
    </div>
    <!-- <div class="submit_button" style="display: none;">
    </div> -->
    <div class="aadhar__details" style="display: none;">
      <h1>Aadhar Authentication</h1>
      <div class="Detailslabel"><h2>Aadhar Details</h2></div><br>
      <table>
        <tr>
          <td><label for="aadhaar_number">Aadhaar Number</label></td>
          <td><input id="aadhaar_number" type="text" placeholder="Enter Your Aadhar Number" maxlength="12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><input id="otp" placeholder="Enter OTP" type="password" style="display: none;" maxlength="6"><br><button id="otp_button" style="display: none;">Confirm</button></td>
        </tr>
    </table>
    <br> 
            <button id="verify_button">Verify Aadhaar Number</button>    
            <button id="resend_button" style="display: none;">Resend Otp</button>
            <button id="change_aadhar_button" style="display: none;">Change Aadhar</button>    
          <button class="submit_button" id="submit_button">Register</button>
    </div>
    <h1 id="error_para" style="font-size: larger;"></h1>
</body>
</html>
<script src="/javascript/v2_register.js" ></script>