<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/apply_tender.css">
    <link rel="stylesheet" href="/css/progress_bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Details</title>
</head>

<body>
    {{> header-user}}
    <div class="container">
        <ul class="progressbar">
            <li>Fill the details</li>
            <li>Payment</li>
            <li>E-sign and Upload documents</li>
            <li>Freeze the bid</li>
        </ul>
    </div>
     <div class="cont">
      <br>
      <h2>Details</h2>
      <h3 style="text-align: left;">Tender Details</h3>
      {{#if tender_details}}
      {{#with tender_details}}
      <table>
        <tr>
            <td><label><strong>Tender Id: </strong></label></td>
            <td><label id="et_id">{{et_id}}</label></td>
            <td><label><strong>Reference No: </strong></label></td>
            <td><label id="ref">{{et_tender_ref_no}}</label></td>
            <td><label><strong>Title: </strong></label></td>
            <td><label id="title">{{et_title}}</label></td>
        </tr>
        <tr>
            <td><label><strong>Department: </strong></label></td>
            <td><label id="department">{{dept_name}}</label></td>
            <td><label><strong>Fee: </strong></label></td>
            <td><label id="fee">₹&nbsp;{{et_tender_fee}}</label></td>
            <td><label><strong>File URL: </strong></label></td>
            <td><a id="file"  href="{{et_file_uri}}" target="blank" style="text-decoration:none;">Tender.pdf</a></td>
        </tr>
        <tr>
            <td><label><strong>Closing Date: </strong></label></td>
            <td><label id="close">{{date et_last_date_apply}}</label></td>
            <td><label><strong>Bidding Date: </strong></label></td>
            <td><label id="bid">{{date et_bidding_date}}</label></td>
            <td><label><strong>Maximum Bid Amount: </strong></label></td>
            <td><label id="bid">₹&nbsp;{{maximum_bid}}</label></td>
        </tr>
      </table>
      <table>
        <tr>
            <td style="width: 16.5%;"><label><strong>Description: </strong></label></td>
            <td><label id="desc">{{et_tender_desc}}</label></td>
        </tr>
      </table>
      {{/with}}
      {{else}}
        <p>Could not load Tender Details</p>
      {{/if}}
      <br><hr><br>
      <h3 style="text-align: left;">Personal Details</h3>
      {{#if personal_details}}
      {{#with personal_details}}
      <table>
        <tr>
          <td><label><strong>Name: </strong></label></td>
          <td><label id="name">{{vcd_name}}</label></td>
          <td><label><strong>DOB: </strong></label></td>
          <td><label id="dob">{{date vcd_dob}}</label></td>
          <td><label><strong>Designation: </strong></label></td>
          <td><label id="desg">{{vcd_designation}}</label></td>
        </tr>
        <tr>
          <td><label><strong>Aadhar No: </strong></label></td>
          <td><label id="aadhar">{{vcd_aadhar}}</label></td>
          <td><label><strong>Email: </strong></label></td>
          <td><label id="email">{{vcd_email}}</label></td>
          <td><label><strong>Contact No: </strong></label></td>
          <td><label id="contact">{{vcd_contact}}</label></td>
        </tr>
      </table>
      {{/with}}
      {{else}}
        <p>Could not load Personal Details</p>
      {{/if}}
      <br><hr><br>
      <h3 style="text-align: left;">Company Details</h3>
      {{#if company_details}}
      {{#with company_details}}
      <table>
        <tr>
          <td><label><strong>Name: </strong></label></td>
          <td><label id="cname">{{v_name}}</label></td>
          <td><label><strong>Legal Status: </strong></label></td>
          <td><label id="legal">{{v_legal_id}}</label></td>
          <td><label><strong>Estd Year: </strong></label></td>
          <td><label id="yoe">{{v_yoe}}</label></td>
        </tr>
        <tr>
          <td><label><strong>Registration No: </strong></label></td>
          <td><label id="register">{{v_reg_no}}</label></td>
          <td><label><strong>GST No: </strong></label></td>
          <td><label id="gst">{{v_gst}}</label></td>
          <td><label><strong>PAN No: </strong></label></td>
          <td><label id="pan">{{v_pan}}</label></td>
        </tr>
        <tr>
          <td><label><strong>Email: </strong></label></td>
          <td><label id="cemail">{{v_email}}</label></td>
          <td><label><strong>Contact No: </strong></label></td>
          <td><label id="ccontact">{{v_mobile}}</label></td>
          <td><label><strong>Address: </strong></label></td>
          <td><label id="address">{{v_address}}</label></td>
        </tr>
      </table>
      {{/with}}
      {{else}}
        <p>Could not load Company Details</p>
      {{/if}}
      <br>
      {{!-- <label>Bidding Amount</label>
      <input type="number" min="0" max="999999999" id="bid_amount" style="color: black;">
      <p id="tc"></p> --}}
      <div  class="submit_button">
          <button type="button" onclick="location='/tenders'"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
          <button type="button" onclick="location='/profile'"><i class='fas fa-edit'></i>&nbsp;Edit</button>
          <button type="button" id ="freeze" onclick="next()"></i>Save And Next&nbsp;<i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascript/v4_apply_tender_s1.js"></script>
<script>
    document.getElementById("tender_link").classList.add("activ")		
</script>
</html>
