<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url }}/css/nav.css" />
  <link rel="stylesheet" href="{{ url }}/css/apply_tenders2.css" />
  <link rel="stylesheet" href="{{ url }}/css/payment.css" />
  <title>Payment</title>
</head>

<body>
  <header>
    <nav id="nav_bar">
      <a href="{{ url }}/v7_homepage.html">Home</a>
      <a href="{{ url }}/v3_see_tender.html">Tender</a>
      <a id="log_a" href="{{ url }}/v1_login.html">Login</a>
    </nav>
  </header>
  <div class="pBarCont">

    <div id="pBar" class="pBar">Step1</div>
    <div id="arr1" class="pBaredge1" style="display:none;"></div>
    <div id="pBar2" class="pBar2">Step2</div>
    <div id="arr2" class="pBaredge2" style="display:none;"></div>
    <div id="pBar3" class="pBar3">Step3</div>
    <div id="arr3" class="pBaredge3" style="display:none;"></div>
  
</div>
  <h1 id="tsc_status"></h1>
  <div class="cont">
    <h3>Payment Details(winston modify urs payment gateway here)</h3>
    <br/>
    <table>
      <tr>
        <td><label for="mode">Instrument type</label></td>
        <td>
          <select id="mode">
            <option>DD</option>
            <option>FD</option>
            <option>Others</option>
          </select>
        </td>
        <td><label for="ints_no">Instrument No</label></td>
        <td><input type="Text" placeholder="Enter Instrument Number" id="inst_no" /></td>
      </tr>
      <tr>
        <td><label for="issued_date">Issued date</label></td>
        <td><input type="date" id="issued_date" /></td>
        <td><label for="expiry_date">Expiry date</label></td>
        <td><input type="date" id="expiry_date" /></td>
      </tr>
      <tr>
        <td><label for="acc_no">Account No</label></td>
        <td>
          <input type="Text" placeholder="Enter Account Number" id="acc_no" />&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td><label for="amount">Amount</label></td>
        <td><input type="number" placeholder="Enter Amount" id="amount" /></td>
      </tr>
    </table>
    <br />
    <div class="button_div"><button type="submit" class="save_button">Save</button></div>
  </div>
  <div class="cont2">
    <form id="body_content" method="POST" action="{{ url }}/payment">
      <div class="content">
        <h1>Payment</h1>
        <br />
        <table style="text-align: left;">
          <tr>
            <td><label for="amount1">Amount</label></td>
            <td><input type="text" id="amount1" name="amount" value={{ amount }} disabled/></td>
          </tr>
          <tr>
            <td><label for="email">Email ID</label></td>
            <td><input id="email" type="email" name="email" placeholder="Enter Email" /></td>
          </tr>

          <tr>
            <td><label for="mobile">Mobile/Cell Number</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
              <input id="mobile" type="number" name="mobile" placeholder="Enter Mobile/Cell Number" />
            </td>
          </tr>
        </table>
      </div>
      <p id="error-para"></p>
      <input type="submit" value="submit" id="bg_tsc_button" />
    </form>
  </div>
  <br>
  <button value="back" onclick="back()">back</button>
  <br><br>
</body>


</html>
<script src="{{ url }}/javascript/cookies.js"></script>
<script >
  var log_a = document.getElementById('log_a')
  var nav_bar = document.getElementById('nav_bar')
  if (get_cookie('vcd_id') != '') {
    log_a.setAttribute('href', 'v6_profile.html')
    log_a.innerHTML = 'Profile'
    nav_bar.insertAdjacentHTML('beforeend', '<a id="log_a" href="v1_login.html">Log out</a>')
  }
</script>
<script src="{{ url }}/javascript/jquery-3.4.1.min.js"></script>
<script src="{{ url }}/javascript/payment.js"></script>
<script src="{{ url }}/javascript/v4_apply_tender_s2.js"></script>

